@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
body, input, textarea {
    font-family: 'Rajdhani', sans-serif;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(216, 216, 216, 0.721);
    z-index: 10;
}

.nav-item {
    display: block;
    padding: 15px;
    text-decoration: none;
    outline: none;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 3px solid transparent;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transform-duration: 0.4s;
    -ms-transform-duration: 0.4s;
    -o-transform-duration: 0.4s;
}

.nav-item:hover {
    text-decoration: none;
    outline: none;
    background-color: rgb(0, 114, 159);
    border-bottom: 3px solid rgb(51, 197, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.nav-item:focus {
    text-decoration: none;
    outline: none;
}

.nav-item:active {
    text-decoration: none;
    outline: none;
}

.active {
    background-color: rgb(118, 49, 160);
    border-bottom: 3px solid rgb(199, 108, 255);
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.container {
    width: 100%;
}

.parallax-window {
    min-height: 700px;
    background: transparent;
}

.content {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 100px;
    padding: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    overflow: auto;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.info {
    border: 0;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 95%;
    font-size: 30px;
    height: 70px;
    text-align: left;
    padding: 10px;
    background: transparent;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    outline-style: none;
}

.info-area {
    border: 0;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 95%;
    height: 300px;
    font-size: 30px;
    text-align: left;
    padding: 10px;
    background: transparent;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    outline-style: none;
    resize: none;
}

.info-area:focus, .info:focus {
    border-bottom: 3px solid rgb(25, 118, 210);
}

.info-area::placeholder, .info::placeholder {
    font-family: 'Rajdhani', sans-serif;
    color: rgb(0, 0, 0);
}

.info-area:focus::placeholder, .info:focus::placeholder {
    color: rgb(25, 118, 210);
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.btn {
    width: 47%;
    margin: 10px;
    padding: 15px;
    border: 0;
    border-bottom: 3px solid rgb(0, 0, 0);
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transform-duration: 0.4s;
    -ms-transform-duration: 0.4s;
    -o-transform-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

@media(max-width: 750px) {
    .flex {
        flex-direction: column;
    }
    .btn {
        width: 95%;
    }
}

.heading {
    color: rgb(0, 0, 0);
    text-align: center;
}